* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%
}


body {
    background-color: white;
}

.site-nav {
    background-color: black;
    padding: 10px;
}

.site-nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.site-nav li a{
    font-family: Arial;
    color: white;
}

.header-name{
    font-family: Arial;
    color: black;
    padding: 10px 20px;
}
.site-header{
    width: 100%;
    background-color: darkgray;
}

.bio-content{
    padding: 20px;
}

.bio-text{
    padding: 20px;
}

.bio-text * {
    margin-bottom: 10px;
}

.headshot{
    padding: 20px;
}

.resume-content{
    padding: 20px;
}
.resume-content h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
.job-header, .loc-date{
    font-variant: small-caps;
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}

.resume-top-description{
    margin-top: 10px;
}

.resume-description, .project-head-mobile, .project-description-desktop{
    margin-top: 5px;
    margin-bottom: 5px;
}

.project-head-mobile, .project-description-desktop{
    margin-bottom: 20px;
}

.projects-content{
    padding: 20px;
}

.project-pic{
    max-width: 500px;
}

.project-description-mobile, .project-description-desktop{
    margin-bottom: 20px;
}

.project-description-desktop, .project-head-desktop{
    display: none;
}

@media screen and (min-width: 600px) {
    .bio-content{
        display: flex;
    }
    .site-nav ul{
        justify-content: flex-start;
    }
    .site-nav li{
        margin-right: 10px;
        margin-left: 10px;
    }
    .bio-text{
        max-width: 75%;
    }
    .desk-pop{
        display: flex;
        justify-content: space-between;
    }
    .project-pic{
        max-width: 50%;
    }
    .project-description-mobile, .project-head-mobile {
        display: none;
    }
    .project-description-desktop, .project-head-desktop{
        display: block;
    }
}
